<footer>
    <div class="container py-5">
      <p class="mb-4">
        <a href="/">
          <img src="/assets/img/symetics-logo.svg" height="32" alt="Symetics Logo">
        </a>
      </p>

      <div class="row">
        <div class="col-md-3">
          © 2014-{{ site.time | date: '%Y' }} Symetics GmbH<br>
          All right reserved.<br><br>
        </div>

        <div class="col-md-3">
          <p>
            Symetics GmbH<br>
            Kopstadtplatz 24/25<br>
            D-45127 Essen<br>
          </p>
        </div>

        <div class="col-md-3">
          <a href="mailto:info@symetics.com">info@symetics.com</a><br>
          0201 / 87535773
        </div>

        <div class="col-md-3">
          <a href="/impressum/">Impressum</a><br>
          <a href="/datenschutz/">Datenschutz</a><br>
        </div>
      </div>
    </div>
  </div>
</footer>
