<footer>
  <div class="box box-footer">
    <div class="container container-with-margin">
      <div class="row">
        <div class="col-lg-12">
          <p class="brand white"><i class="icon icon-symetics"></i> symetics</p>
        </div>

        <div class="row col-xs-7" itemscope="" itemtype="http://schema.org/PostalAddress">
          <div class="col-sm-7 col-xs-12">
            © 2014-{{ site.time | date: '%Y' }} Symetics GmbH<br>
            All right reserved.<br><br>
          </div>
          <div class="col-sm-5 col-xs-12">
            <p>
              <span itemscope="" itemtype="http://schema.org/LocalBusiness">
                <span itemprop="name">Symetics GmbH</span>
              </span><br>
              <span itemprop="streetAddress">Kopstadtplatz 24/25</span><br>
              <span itemprop="postalCode">45127</span> <span itemprop="addressLocality">Essen</span>
              <span itemprop="addressCountry" class="hide">Germany</span>
            </p>
            <p>
              <span itemprop="email"><a href="mailto:info@symetics.com">info@symetics.com</a></span>
            </p>
          </div>
        </div>

        <div class="row col-xs-5">
          <div class="col-sm-6 col-md-6 col-xs-12 col-md-offset-1 col-lg-offset-1">
            <a href="mailto:info@symetics.com">Kontakt</a><br>
            <a href="/impressum/">Impressum</a>
            <a href="/datenschutz/">Impressum</a>
          </div>
          <div class="col-sm-6 col-md-5 col-xs-12">
            <div class="hidden-sm hidden-md hidden-lg"><br><br></div>
            <div class="social-icons">
              <a target="_blank" href="https://twitter.com/symetics"><i class="icon icon-twitter"></i></a>
              <a target="_blank" href="https://github.com/symetics"><i class="icon icon-github"></i></a>
              <a target="_blank" href="https://www.linkedin.com/company/symetics"><i class="icon icon-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
