<nav data-headroom-top="" class="navbar navbar-toggleable-md navbar-inverse bg-orange-gradient fixed-top headroom headroom--top headroom--not-bottom">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">PhoenixFramework.de</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/artikel/">Artikel</a>
        </li>
        <!--<li class="nav-item active">
          <a class="nav-link" href="https://workshops.de/seminare-schulungen-kurse/phoenix-elixir" target="_blank">Schulung</a>
        </li>-->
      </ul>

      <form class="form-inline" action="/suche" method="GET">
        <input name="q" class="form-control navbar-search" type="text" placeholder="Suche">
      </form>
    </div>
  </div>
</nav>
