<div class="container container-with-margin">
    <h2 class="section-title">Referenzen</h2>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2 reference-block text-center">
        <a target="_blank" href="http://www.dbschenker.com"><img class="img-gray-overlay" width="509" height="100" src="/assets/img/referenzen/schenker.png"></a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2 reference-block text-center">
        <a target="_blank" href="http://www.sueddeutsche.de"><img class="img-gray-overlay" width="129" height="100" src="/assets/img/referenzen/sueddeutsche-zeitung.png"></a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2 reference-block text-center">
        <a target="_blank" href="http://www.bosch.de"><img class="img-gray-overlay" width="215" height="100" src="/assets/img/referenzen/bosch.png"></a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2 reference-block text-center">
        <a target="_blank" href="http://www.bertelsmann.de"><img class="img-gray-overlay" width="550" height="100" src="/assets/img/referenzen/bertelsmann.png"></a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2 reference-block text-center">
        <a target="_blank" href="https://www.enbw.com"><img class="img-gray-overlay" width="396" height="100" src="/assets/img/referenzen/enbw.png"></a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2 reference-block text-center">
        <a target="_blank" href="http://www.capgemini.com"><img class="img-gray-overlay" width="131" height="100" src="/assets/img/referenzen/capgemini.png"></a>
      </div>
    </div>
    <p class="text-center text-muted">Wir stellen auch gerne Kontakt zu Ansprechpartnern her.</p>
  </div>
