.wallpaper {
  background-color: #f9f9f9;
  padding: 5rem 0 2rem;
  min-height: 5rem;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

@include media-breakpoint-up(lg) {
  .wallpaper {
    min-height: 25rem;
  }
}
