$wallpaper-height:          20rem;


.wallpaper {
  background-color: #f9f9f9;
  height: $wallpaper-height;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

