---
---

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$body-color:            #585858;
$headings-color: #333;
$primary:         #00CEFF;

@import "fonts/font-montserrat";
@import "fonts/font-open-sans";
@import "bootstrap/bootstrap";
@import "wallpaper";
@import "section";
@import "navbar";
@import "img-utils";

.section-title {
  color: #585858;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 35px;
  // font-family: $font-family-title;
}

