<!DOCTYPE html>
<html lang="de">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">

  {% if page.noindex %}
  <meta name="robots" content="noindex, follow">
  {% else %}
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  {% endif %}

  <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body>

  <div class="wallpaper mb-5" style="background: url('/assets/img/header-images/{{ page.header_image }}');">
    {% include _navigation.html %}
    <div class="text-center">
      <h1>{{ page.title }}</h1>

      {% if page.subtitle %}
        <em><br>
          {{ page.subtitle }}
        </em>
      {% endif %}
    </div>


  </div>

  <main role="main" class="pb-4">
    {{content}}
  </main>

  {% include _clients.html %}
  {% include _footer.html %}

  <!-- JavaScript -->
  <script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/assets/js/bootstrap-4.1.1.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
